@import "normalize.css";

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  --font-size: 14px;

  /* Colors */
  --primary-blue: #003366;
  --primary-blue-hover: #00284d;
  --secondary-blue: #0056a2;
  --secondary-blue-hover: #01437e;
  --accent-color-hover: #ffc300;
  --accent-color: #ffd700;
  --accent-color-dark: #e4b005;
  --error-color: #d32f2f;
  --error-color-hover: #b71c1c;
  --white: #fff;
  --grey: #f1f1f1;
  --dark-grey: #121212;
  --black: #000;
  --disabled: #a2a0a0;
  --background-color: var(--white);
  --background-box-color: var(--grey);
  --text-color: var(--black);

  /* Font-sizing */
  --font-3xs: 8px;
  --font-2xs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 22px;
  --font-xl: 24px;
  --font-2xl: 32px;

  /* Font styles */

  --font-size-heading: var(--font-md);
  --line-height-heading: var(--font-xl);

  --font-size-body: var(--font-s);
  --line-height-body: var(--font-sm);

  --font-size-label: var(--font-2xs);
  --line-height-label: var(--font-s);

  /* Spacing */
  --spacing-3xs: 8px;
  --spacing-2xs: 10px;
  --spacing-xs: 12px;
  --spacing-s: 14px;
  --spacing-sm: 16px;
  --spacing-md: 18px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 28px;
  --spacing-3xl: 32px;
  --spacing-4xl: 36px;
  --spacing-5xl: 40px;

  /* Button styling */
  --button-padding: var(--spacing-2xs) var(--spacing-lg);
  --button-border-radius: 0;
  --button-text-color: var(--white);
  --button-background: var(--primary-blue);
  --button-background-hover: var(--primary-blue-hover);
  --button-accent-background: var(--accent-color);
  --button-accent-background-hover: var(--accent-color-hover);
  --button-error-background: var(--error-color);
  --button-error-background-hover: var(--error-color-hover);

  /* Effects style */
  --background-transition: background-color 0.3s ease;
  --all-transition: all 0.3s ease;
  --box-shadow-dark: 0 2px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-white: 0 0 34px rgba(255, 255, 255, 0.5);

  /* Pallet colors */
  /* Palette 1: MFA Color Scheme */
  --color-palette-1-primary-blue: #003366;
  --color-palette-1-secondary-blue: #0056a2;
  --color-palette-1-golden-accent: #ffd700;
  --color-palette-1-light-gray: #f1f1f1;
  --color-palette-1-error-red: #d32f2f;

  /* Palette 2: Classic Contrasting Colors */
  --color-palette-2-blue: #1f77b4;
  --color-palette-2-orange: #ff7f0e;
  --color-palette-2-green: #2ca02c;
  --color-palette-2-red: #d62728;
  --color-palette-2-purple: #9467bd;

  /* Palette 3: Balanced Cool and Warm Tones */
  --color-palette-3-cool-blue: #4e79a7;
  --color-palette-3-warm-orange: #f28e2b;
  --color-palette-3-warm-red: #e15759;
  --color-palette-3-teal: #76b7b2;
  --color-palette-3-green: #59a14f;

  /* Palette 4: Vibrant and Modern */
  --color-palette-4-purple: #8e44ad;
  --color-palette-4-blue: #3498db;
  --color-palette-4-red: #e74c3c;
  --color-palette-4-yellow: #f1c40f;
  --color-palette-4-green: #2ecc71;

  /* Palette 5: Bold and Dynamic Colors */
  --color-palette-5-purple: #6a4c93;
  --color-palette-5-blue: #1982c4;
  --color-palette-5-green: #8ac926;
  --color-palette-5-yellow: #ffca3a;
  --color-palette-5-red: #ff595e;
}

@media (min-width: 640px) {
  :root {
    --font-size-heading: var(--font-lg);
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-heading: var(--font-xl);
    --line-height-heading: var(--font-2xl);

    --font-size-body: var(--font-sm);
    --line-height-body: var(--font-xl);

    --font-size-label: var(--font-xs);
    --line-height-label: var(--font-sm);

    --button-padding: var(--spacing-xs) var(--spacing-xl);
  }
}

.dark-theme {
  --background-color: var(--dark-grey);
  --text-color: var(--white);
  --button-background: var(--secondary-blue);
  --button-background-hover: var(--secondary-blue-hover);
  --button-accent-background: var(--accent-color-hover);
  --button-accent-background-hover: var(--accent-color-dark);
  --background-box-color: var(--dark-grey);
}

body.palette-1 {
  --one-color: var(--color-palette-1-primary-blue);
  --two-color: var(--color-palette-1-secondary-blue);
  --three-color: var(--color-palette-1-golden-accent);
  --four-color: var(--color-palette-1-light-gray);
  --five-color: var(--color-palette-1-error-red);
}

body.palette-2 {
  --one-color: var(--color-palette-2-blue);
  --two-color: var(--color-palette-2-orange);
  --three-color: var(--color-palette-2-green);
  --four-color: var(--color-palette-2-red);
  --five-color: var(--color-palette-2-purple);
}

body.palette-3 {
  --one-color: var(--color-palette-3-cool-blue);
  --two-color: var(--color-palette-3-warm-orange);
  --three-color: var(--color-palette-3-warm-red);
  --four-color: var(--color-palette-3-teal);
  --five-color: var(--color-palette-3-green);
}

body.palette-4 {
  --one-color: var(--color-palette-4-purple);
  --two-color: var(--color-palette-4-blue);
  --three-color: var(--color-palette-4-red);
  --four-color: var(--color-palette-4-yellow);
  --five-color: var(--color-palette-4-green);
}

body.palette-5 {
  --one-color: var(--color-palette-5-purple);
  --two-color: var(--color-palette-5-blue);
  --three-color: var(--color-palette-5-red);
  --four-color: var(--color-palette-5-yellow);
  --five-color: var(--color-palette-5-green);
}

h1,
h2,
h3,
h4 {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p,
span {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.label,
.small-text {
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
  color: var(--secondary-blue);
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* мінімальна висота сторінки */
}

main {
  flex: 1;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-primary {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  border: none;
  cursor: pointer;
  transition: var(--background-transition);
  display: inline-block;
}

.button-primary:hover {
  background-color: var(--button-background-hover);
}

.button-secondary {
  background-color: var(--button-accent-background);
  color: var(--black); /* Specific text color for secondary button */
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  border: none;
  cursor: pointer;
  transition: var(--background-transition);
  display: inline-block;
}

.button-secondary:hover {
  background-color: var(--button-accent-background-hover);
}

.button-error {
  background-color: var(--button-error-background);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  border: none;
  cursor: pointer;
  transition: var(--background-transition);
  display: inline-block;
}

.button-error:hover {
  background-color: var(--button-error-background-hover);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-xs);
}

@media (min-width: 640px) {
  .container {
    padding: 0 var(--spacing-2xl);
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 var(--spacing-2xl);
  }
}

.hidden {
  display: none;
}

/* -------- Header ---------- */
.header {
  background: radial-gradient(425.02px at 50% 50%, #0057b8 0%, #234161 100%);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dark-theme .header {
  background: #23416163;
  border-bottom: 1px solid var(--grey);
}

.logo_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  outline: 2px solid var(--white);
  box-shadow: var(--box-shadow-white);
}

.header-title {
  color: var(--white);
}

.theme-toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  border: 1px solid grey;
  background: transparent;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.theme-toggle:hover {
  box-shadow: var(--box-shadow-white);
}
.theme-toggle .material-icons {
  font-size: 24px;
  color: var(--grey);
}

/* ---------main page---------- */
.title {
  margin-bottom: 20px;
}
.dropbox {
  border: 2px dashed #ccc;
  padding: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
  justify-content: center;
  align-items: center;
  background-color: var(--background-box-color);
}

.dropbox.blurred {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
}

.dropbox .drop-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.handle-input {
  position: relative;
  z-index: 1;
}

.loader {
  margin-top: 20px;
  border: 5px solid var(--grey); /* Light grey */
  border-top: 5px solid var(--secondary-blue); /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 2;
}

.file-icons {
  font-size: 80px;
  color: var(--text-color);
}

.file_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.open-chart-page-btn {
  transition: var(--background-transition);
}
.open-chart-page-btn-disabled {
  pointer-events: none;
  background-color: var(--disabled);
}
/* --------- Preview section --------- */
.preview-section {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  th,
  td {
    border: 1px solid var(--disabled);
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: var(--background-box-color);
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}

.scrollable-container {
  max-height: 565px;
  height: auto;
  overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--disabled);
  border-radius: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-grey);
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: var(--grey);
  border-radius: 6px;
}

/* ----------Footer------------ */
.footer {
  text-align: center;
}

/* ---------- Chart page ------------- */
.settings {
  margin-bottom: 30px;
}

.settings-title {
  margin-bottom: 20px;
}
.btn_wrapper {
  display: flex;
  column-gap: 10px;
}

.palette-btn {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  border: 1px solid grey;
  background: transparent;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.palette-btn:hover {
  box-shadow: var(--box-shadow-white);
}

.palette-btn .material-icons {
  font-size: 24px;
  color: var(--grey);
}

.palette-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: var(--background-color);
  border: 1px solid var(--grey);
  border-radius: 5px;
  width: 150px;
  padding: 0;
  box-shadow: var(--box-shadow-dark);
  z-index: 10;
  overflow: hidden;
}

.dropdown .dropdown-item {
  height: 30px;
  cursor: pointer;
  border: 2px solid var(--grey);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.dropdown-item:hover,
.dropdown-item.active {
  opacity: 1;
}

.dropdown-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-item:hover {
  opacity: 1;
}

.dropdown .dropdown-item:hover {
  background-color: var(--grey);
}

.dropdown-item.palette-1 {
  background: linear-gradient(
    to right,
    var(--color-palette-1-primary-blue) 20%,
    var(--color-palette-1-secondary-blue) 20%,
    var(--color-palette-1-secondary-blue) 40%,
    var(--color-palette-1-golden-accent) 40%,
    var(--color-palette-1-golden-accent) 60%,
    var(--color-palette-1-light-gray) 60%,
    var(--color-palette-1-light-gray) 80%,
    var(--color-palette-1-error-red) 80%
  );
}

.dropdown-item.palette-2 {
  background: linear-gradient(
    to right,
    var(--color-palette-2-blue) 20%,
    var(--color-palette-2-orange) 20%,
    var(--color-palette-2-orange) 40%,
    var(--color-palette-2-green) 40%,
    var(--color-palette-2-green) 60%,
    var(--color-palette-2-red) 60%,
    var(--color-palette-2-red) 80%,
    var(--color-palette-2-purple) 80%
  );
}

.dropdown-item.palette-3 {
  background: linear-gradient(
    to right,
    var(--color-palette-3-cool-blue) 20%,
    var(--color-palette-3-warm-orange) 20%,
    var(--color-palette-3-warm-orange) 40%,
    var(--color-palette-3-warm-red) 40%,
    var(--color-palette-3-warm-red) 60%,
    var(--color-palette-3-teal) 60%,
    var(--color-palette-3-teal) 80%,
    var(--color-palette-3-green) 80%
  );
}

.dropdown-item.palette-4 {
  background: linear-gradient(
    to right,
    var(--color-palette-4-blue) 20%,
    var(--color-palette-4-yellow) 20%,
    var(--color-palette-4-yellow) 40%,
    var(--color-palette-4-green) 40%,
    var(--color-palette-4-green) 60%,
    var(--color-palette-4-red) 60%,
    var(--color-palette-4-red) 80%,
    var(--color-palette-4-purple) 80%
  );
}

.dropdown-item.palette-5 {
  background: linear-gradient(
    to right,
    var(--color-palette-5-blue) 20%,
    var(--color-palette-5-yellow) 20%,
    var(--color-palette-5-yellow) 40%,
    var(--color-palette-5-green) 40%,
    var(--color-palette-5-green) 60%,
    var(--color-palette-5-red) 60%,
    var(--color-palette-5-red) 80%,
    var(--color-palette-5-purple) 80%
  );
}

.type-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

/* ----- Cart ----------- */

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#chartSVG {
  width: 500px;
  height: 500px;
}

@media (min-width: 640px) {
  #chartSVG {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1024px) {
  #chartSVG {
    width: 800px;
    height: 800px;
  }
}

.controls {
  margin-bottom: 20px;
}
.controls label {
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scale-wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}
.scale-title {
  text-wrap: nowrap;
}
.scale-toggle {
  padding: 10px;
  width: 48px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
}

.scale-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 48px;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.scale-menu div {
  padding: 8px;
  cursor: pointer;
}

.scale-menu div:hover {
  background-color: #ddd;
}

.chartSVG-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .chartSVG-wrapper {
    flex-direction: row;
  }
}
.legend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  box-shadow: var(--box-shadow-dark);
}

.legend span {
  position: relative;
  display: inline-block; /* Required for the pseudo-element */
}

.legend span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; /* Adjust thickness as needed */
  background: var(--accent-color-hover); /* Use your desired color */
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s ease; /* Smooth transition */
  transform-origin: left; /* Animate from left */
}

.legend span:hover::after {
  transform: scaleX(1); /* Show underline on hover */
}
