.button-primary,
.button-secondary,
.button-error,
.button-tab {
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  border: none;
  cursor: pointer;
  transition: var(--background-transition);
  display: inline-block;
}

.button-primary {
  background-color: var(--button-background);
}

.button-primary:hover {
  background-color: var(--button-background-hover);
}

.button-secondary {
  background-color: var(--button-accent-background);
}

.button-secondary:hover {
  background-color: var(--button-accent-background-hover);
}

.button-error {
  background-color: var(--button-error-background);
}

.button-error:hover {
  background-color: var(--button-error-background-hover);
}

.button-tab {
  background-color: var(--button-tab-background);
}

.button-tab:hover {
  background-color: var(--button-tab-background-hover);
}
